@font-face {
    font-family: 'monkvetica';
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonks-Bold.otf');
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonks.woff') format('woff');
}
@font-face {
    font-family: 'monkvetica';
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonksW05-ExXBd.woff') format('woff');
    font-weight: 900;
}
@font-face {
    font-family: 'monkvetica';
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonks-Bold.otf');
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonks-Bold.woff') format('woff');
    font-weight: 800;
}
@font-face {
    font-family: 'monkvetica';
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonks-Ext.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'monkvetica';
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonksW05-ExXBd.woff') format('woff');
    font-weight: 1000;
}
@font-face {
    font-family: 'monkvetica';
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonks-Light.otf');
    src: url('/Users/nachomondino/Documents/GitHub/evaluacion-compra-automatica/p5_deployment/utils/media/HelveticaNowforMonks-Light.woff') format('woff');
    font-weight: lighter;
}

body {
    font-family: 'monkvetica', Helvetica, sans-serif;
}
h1, h2, h3, h4, h5 {
    color: #FFFFFF;
    font-family: 'monkvetica', Helvetica, sans-serif;
    font-weight: 900;
}
h1 {
    font-size: 3.5rem;
}
.logo {
    width: 250px;
    border: none !important;
    outline: none !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -85%);
}
.nothing {
    font-family: 'Nothing You Could Do', cursive;
}
footer {
    visibility: hidden;
}
.footer {
    font-family: 'Nothing You Could Do', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0px;
    width: 100%;
    text-align: center;
    height: auto;
    background-color: white;
    color: black;
    z-index: 99;
}
.center {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.css-vso1j0.edgvbvh1 {
    /* width: 100%; */
    /* background-color: #d9bdfa; */
}